*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
}
nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.logo img{
    width: 60px;
    height: 60px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;

}

.links{
    width: 575px;
    height: 55px;
    background-color: #0F0F0F;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 5px;

}
.links a{
    color: #BFBFBF;
    font-family: "Manrope";
    margin: 10px;
    text-decoration: none;
}
.imgs img{
    width:34px ;
    height: 34px;
    margin: 7px;
}
.imgs {
    display: flex;
}
.burger{
    display: none;
}
.burger img{
    margin: 7px;
    width: 34px;
    height: 34px;
}

@media (max-width:920px) {
    .links{
        width: 400px;
        height: 40px;
    }
    .links a{
        font-size: 15px;
    }
   
    
}
@media (max-width:840px) {
    .links{
        display: none;
    }
    .burger{
        display: block;
    }
    
    
}

@media (max-width:700px) {
    .imgs img{
        width: 17px;
        height: 17px;
    }
    
}
@media (max-width:340px) {
    .poisk{
        display: none;
    }
    
}
/* section1 */

.header1{
    height: 100vh;
    background-image: url(image/Sub\ Container.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
body{
    background-color: #0F0F0F;
}

/* section */
.header1{
    width: 100%;
    height: 100vh;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
.header1 h1{
    font-family: Manrope;
font-size: 48px;
font-weight: 700;
line-height: 72px;
text-align: center;

}
.header1 p{
    font-family: Manrope;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: center;
max-width: 1070px;

}
.header1 button{
    width:210px;
height: 57px;
padding: 14px 24px 14px 24px;
gap: 4px;
border-radius: 8px 0px 0px 0px;
opacity: 0px;
background-color: #E50000;
border: none;
display: flex;
color: white;
font-family: Manrope;
margin: 10px;

}
button img{
    width: 20px;
    height: 20px;
}
button h3{
    font-size: 15px;
}
.header1 *{
    margin-bottom: 20px;
}
@media (max-width:800px) {
    .header1 h1{
        font-size: 25px;
    }
    .header1 p{
          font-size:15px;
    }
    .header1 button{
        width: 200px;
        height: 40px;
        
    }
    .header1 button img{
        width: 15px;
        height: 15px;
    }
    .header1 button h3{
        font-size: 10px;
    }
}
/* header2**/

.header2{
    height: 100%;
    max-width: 1090px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.header2 div{
    width: 994px;
    height: 200px;
    margin-top: 80px;
}
.header2 img{
    width:205px ;
    height: 68px;
    
}
.header2 h1{
    font-family: Manrope;
font-size: 28px;
font-weight: 700;
line-height: 42px;
text-align: left;
color: #FFFFFF;
}
.header2 p{
    font-family: Manrope;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #999999;
}
@media (max-width:930px) {
    .header2 h1{
        font-size: 25px;
    }
    .header2 p{
        font-size: 15px;
    }
    .header2  img{
        width: 130px;
        height: 50px;
    }
}
@media (max-width:760px) {
    .header2 h1{
        font-size: 17px;

    }
    .header2 p{
        font-size: 13px;
    }
}

@media (max-width:650px) {
    .header2 h1{
        font-size: 13px;

    }
    .header2 p{
        font-size: 9px;
    }
    
}

@media (max-width:585px) {
    .header2{
        display: block;
       text-align: center;
       max-width: 500px;
      
    }
    
    .texts{
        width: 400px;
        height: 300px;
        
    }

    .texts p{
        max-width: 200px;
    }
    
    
}
/* section */

section{
    max-width: 1440px;
    width: 100%;;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box img{
    width: 191px ;
    height: 210px;
}
.box{
    border-radius: 5px;
    padding: 24px;
    background-color: #1A1A1A;
    margin: 10px;
    width: 270px;
    height: 282px;

}
.str {
    display: flex;
    justify-content: space-between;
}
.str img{
 width: 24px;
 height: 24px;
}
.str h4{
    color: #FFFFFF;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    margin-bottom: 30px;
    

}

@media (max-width:1200px) {
    .simple{
     flex-wrap: wrap;
    }
    
}
/* texts */
.pr{
    max-width: 1290px;
    width: 100%;
    height: 300px;
    
    padding: 20px;
}
.pr h1{
    font-family: Manrope;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.pr p{
    max-width: 1129px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #999999;

}
/* cards */
.card-wrapper{
    width: 100%;

    
    display: flex;
    
    

    color: #FFFFFF;
    
   
    
}
.cards{
     width: 413px;
     border: 1px solid brown;
     padding: 30px;
     background: linear-gradient(0deg, #0F0F0F, #0F0F0F),
     linear-gradient(221.52deg, rgba(229, 0, 0, 0.5) -208.03%, rgba(229, 0, 0, 0) 41.32%);
     
}
.sr img{
    width: 54px;
    height: 54px;
    margin: 10px;
}
.sr{
    display: flex;
   
    align-items: center;
    margin: 5px;
    
}
.cards p{
    
    color: #999999;
    text-align: start;
    font-family: Manrope;
}
.sr h1{
   font-family: Manrope;
}
@media (max-width:1200px) {
    .card-wrapper{
       
        flex-wrap: wrap;
    }
    
}
@media (max-width:1340px) {
    .cards p{
        font-size: 15px;

    }
    .cards h1{
        font-size: 17px;
    }
    .cards{
        width:340px ;
        height: 210px;
    }
    
    
    
}
/* heder */
.md button{
    font-family: Manrope;
   font-size: 14px;
   font-weight: 600;
   line-height: 21px;
   text-align: left;
   width: Hug (140px)px;
   height: Hug (49px)px;
   padding: 14px 20px 14px 20px;
   gap: 10px;
   border-radius: 6px 0px 0px 0px;
   opacity: 0px;
   background-color: #E50000;
   color: #FFFFFF;
   border: none;
   

}

.md{
    width: 100%;
    
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.md div{
    width: 994px;
    
    margin-top: 80px;
}

.md h1{
    font-family: Manrope;
font-size: 28px;
font-weight: 700;
line-height: 42px;
text-align: left;
color: #FFFFFF;
}
.md p{
    font-family: Manrope;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #999999;
}
.ts{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pd{
    margin-left: 100px;
}
@media (max-width:920px) {
    .md{
        flex-direction: column;
    }
    
}

/* mf */
.abc{
    display: flex;
    margin: 10px;
    

    
    
}
#mn{
    
     display: flex;
}
.abc h1{
    font-family: Manrope;
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 10px;
    

}
.m1{

    max-width: 1440px;
    margin: auto;
    padding: 0 30px;
    
}

.ab{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 10px;
   padding-bottom: 10px;
  max-width: 620px;
  border-bottom: 1px solid #E50000;
   
   
   
}
.ab h2{
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 20px;
}
.bd{
    display: flex;
    flex-direction: column;
    color: #999999;
    font-family: Manrope;
}
.bd p{
    font-size: 10px;
    margin-left: 10px;
}
.m1 img{
    width: 50px;
    height: 54px;
    
}
@media (max-width:920px) {
    .abc{
        flex-direction: column;
        
    }
    
}
@media (max-width:500px) {
    .ab h2{
        display: none;
    }
    .ab h1{
        font-size: 14px;
    }
    
}

